* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

body{
    background-color: white;
    margin: auto;
    .wrapper{
        max-width: 1440px;
        width: 100%;
        margin: auto;
        padding: 50px 60px;

    }

} 

