.banner{
    width: 100%;
    height: 223px ;
    border-radius: 25px;
    color: yellow;
    position: relative;
    background-color: black;
    overflow: hidden;
    margin-top: 50px;
    
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.6;
    }
    p{
        display: block;
        width: 100%;
       text-align: center;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%) ; 
       color: #fff;
       font-size: 48px;
       font-style: normal;
       font-weight: 500;
       line-height: 142.6%;
       @include mobileVersion{
        font-size: 24px;
       }
        
    }
    
        
        
    
}