.cardContainer{
    width: 100%;
    height: 829px;
    border-radius: 25px;
    background-color: #f6F6F6;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    overflow: scroll;

}