.collapesAboutContainer{
    width: 1023px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    
    .collapesUnit{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $colorPrimary;
        width: 100%;
        min-height: 52px;
        color: white;
        padding: 10px 20px 10px 15px;
        font-size: 24px;
        border-radius: 5px;
        margin-top: 30px;
       
        
        .titleToogle{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .buttonInactive{
            background-color: transparent;
            border: none;
            color: white;
            font-size: 24px;
            
          
        }
        .buttonActive{
            background-color: transparent;
            border: none;
            color: white;
            font-size: 24px;
            animation: buttonActive 200ms forwards;

        }
        
      

    }
}

.collapseContentOpen{
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f2F2F2;
    animation: contentShow 400ms both;
   
    
    
    p{
        color: $colorPrimary;
    }
       
}

.collapseContentClosed{
    display: none;
    animation: contentHide 2300ms;
   
}