
.collapesUnit{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $colorPrimary;
    width: 100%;
    min-height: 52px;
    color: white;
    padding: 10px 20px 10px 15px;
    font-size: 24px;
    border-radius: 5px;


}
.titleToogle{
    display: flex;
    width: 100%;
    justify-content: space-between;
   
}
.buttonActive{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    transition: transform 0.4s ease;
    transform: rotate(0);
    
}
.rotate{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    transform: rotate(180deg);

}

.collapseContent{
    
    display: flex;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f2F2F2;
    margin-bottom: -20px;
    transition: transform 0.4s ease;
    transform: translateY(-40px);
    .collapseText{
        color: $colorPrimary;
        
    }
       
}

.show{
    
    height: auto;
    transform: translateY(0);
    padding: 25px 20px;
    margin-bottom: 20px;
}

.collapseLogement{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.logementCollapseContainer{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}