.footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: black;
   color: $colorSecondary;
   width: 100%;
   height: 209px;
   padding-top: 66px;
   max-width: 1440px;
   margin: auto;
   

   img{
    margin-bottom:30px ;
   }

}