.footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: black;
   color: white;
   width: 100%;
   height: 209px;
   padding-top: 66px;
   img{
    margin-bottom:30px ;
   }

}