.navigation {
    ul{
        @include flexRow;
        li{
            margin-left: 50px;
            color: $colorPrimary;
            
            
            @include mobileVersion{
                margin-left: 20px;
                font-size: 12px;
            }
            
        }
    }
   
}

.nav-active{
    text-decoration: underline;
    color: $colorPrimary;
    
}