.navigation {
    ul{
        @include flexRow;
        li{
            margin-left: 50px;
            color: $colorPrimary;
            
        }
    }
   
}

.nav-active{
    text-decoration: underline;
    color: $colorPrimary;
    
}