.slideShowContainer{
    border: solid 1px blakc;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    height: 415px;
    position: relative;
    
    
   
    .sliderImage{
        width: 100%;
        height: 100%;
        object-fit: cover;  
        
       
    }
    .arrow{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .arrow-left{
        margin-left: 10px;   
    }
    .arrow-right{
       margin-right: 10px;    
    }
    span{
        position: absolute;
        font-size: 18px;
        color: white;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%)
        
    }
    
}