.errorPage{
    display: flex;
    width: 100%;
    padding-top: 40px;
    flex-direction: column;
    padding-bottom: 139px;
    align-items: center;
    gap: 139px;
    
    h1{
        text-align: center;
        font-size: 288px;
        font-weight: 700;
        color: $colorPrimary;
        @include mobileVersion{
            font-size: 96px;
        }

    }
    h3{
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        color: $colorPrimary;
        @include mobileVersion{
            font-size: 18px;
        }

    }
    span{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: $colorPrimary;
        text-decoration: underline;
        
    }
}